NODE_ENV=

BACKEND_CONTAINER_NAME=
BACKEND_HOST=
BACKEND_PORT=
BACKEND_BIND_IP=

FRONTEND_CONTAINER_NAME=
FRONTEND_PORT=
FRONTEND_BIND_IP=

DATABASE_URL=
CORS_ORIGIN=
VITE_API_BASE_URL=

JWT_SECRET=
ENCRYPTION_KEY=
ADMIN_USERNAME=
ADMIN_PASSWORD=
